<div class="container" *ngIf="product">
  <button mat-raised-button color="primary" class="icon-btn" (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="card">
    <div class="card__img">
      <img mat-card-image [src]="product.thumbnail">
    </div>
    <div class="card__content">
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-content>
        <p class="card__rate">
          <span>{{product.rating}}</span>
          <mat-icon>star_rate</mat-icon>
        </p>
        <p class="card__price">{{ product.price | currency }}</p>
        <p class="card__description">{{product.description}}</p>
      </mat-card-content>
    </div>
  </mat-card>
</div>