.container {
  box-sizing: border-box;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.card {
  flex: 1 1 auto;
  display: flex;
  padding: 0;

  &__img {
    flex: 0 0 480px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 3px solid transparent;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 24px;
    color: #10c44c;
  }

  &__rate {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 26, 52, 0.6);
    mat-icon {
      margin-left: 5px;
      color: rgb(255, 168, 0);
    }
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-width: unset;
}

@media(max-width: 992px) {
  .card {
    display: block;
  }
}
