<mat-card>
  <form autocomplete="off" [formGroup]="productForm" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="id" placeholder="Id" name="id">
      <mat-error *ngIf="productForm.controls['id'].hasError('required')">
        Please enter a product id
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title" name="title">
      <mat-error *ngIf="productForm.controls['title'].hasError('required')">
        Please enter a product title
      </mat-error>
      <mat-error *ngIf="productForm.controls['title'].hasError('maxlength')">
        Product title is too long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description" name="description"></textarea>
      <mat-error *ngIf="productForm.controls['description'].hasError('required')">
        Please enter a product description
      </mat-error>
      <mat-error *ngIf="productForm.controls['description'].hasError('maxlength')">
        Product description is too long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="price" placeholder="Price" name="price">
      <mat-error *ngIf="productForm.controls['price'].hasError('required')">
        Please enter a product price
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="rating" placeholder="Rating" name="rating">
      <mat-error *ngIf="productForm.controls['rating'].hasError('required')">
        Please enter a product rating
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="thumbnail" placeholder="Image URL" name="thumbnail">
      <mat-error *ngIf="productForm.controls['thumbnail'].hasError('pattern')">
        Image URL is invalid
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button type="submit" mat-raised-button [disabled]="productForm.invalid">
        Save
      </button>
      <button type="button" color="warn" mat-raised-button (click)="onCancel(); $event.preventDefault()">
        Cancel
      </button>
    </div>
  </form>
</mat-card>