<mat-card>
  <form autocomplete="off" [formGroup]="productForm" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="id" placeholder="{{ 'Id' }}" name="id">
      <mat-error *ngIf="productForm.controls['id'].hasError('required')">
        <span translate>Please enter a product id</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="{{ 'Title' }}" name="title">
      <mat-error *ngIf="productForm.controls['title'].hasError('required')">
        <span translate>Please enter a product title</span>
      </mat-error>
      <mat-error *ngIf="productForm.controls['title'].hasError('maxlength')">
        <span translate>Product title is loo long</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="{{ 'Description' }}" name="description"></textarea>
      <mat-error *ngIf="productForm.controls['description'].hasError('required')">
        <span translate>Please enter a product description</span>
      </mat-error>
      <mat-error *ngIf="productForm.controls['description'].hasError('maxlength')">
        <span translate>Product description is loo long</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="price" placeholder="{{ 'Price' }}" name="price">
      <mat-error *ngIf="productForm.controls['price'].hasError('required')">
        <span translate>Please enter a product price</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="rating" placeholder="{{ 'Rating' }}" name="rating">
      <mat-error *ngIf="productForm.controls['rating'].hasError('required')">
        <span translate>Please enter a product rating</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="url" formControlName="thumbnail" placeholder="{{ 'Image URL' }}" name="thumbnail">
      <mat-error *ngIf="productForm.controls['thumbnail'].hasError('pattern')">
        Image URL is invalid
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button type="submit" mat-raised-button [disabled]="productForm.invalid">
        <span translate>Save</span>
      </button>
      <button type="button" color="warn" mat-raised-button (click)="onCancel(); $event.preventDefault()">
        <span translate>Cancel</span>
      </button>
    </div>
  </form>
</mat-card>
